{% extends "header.html" %}
{% block title %}Items{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-6">
            <h3>Items</h3>
            <form class="row" action="" method="post">
                <div class="col-md-6">
                    <label class="form-label" for="item">Item Name:</label>
                    <input class="form-control" name="item" type="text" id="item">
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="sku">SKU:</label>
                    <input class="form-control" name="sku" type="text" id="sku">
                </div>
                <div class="col-12">
                    <label class="form-label" for="item-desc">Item Description:</label>
                    <textarea class="form-control" name="item-desc" id="item-desc" cols="30" rows="10"></textarea>
                </div>
                <div class="col-lg-3 mt-3">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
                
            </form>
        </div>
    </div>
</div>

{% endblock %}